Options +MultiViews
<IfModule mod_rewrite.c>
	RewriteEngine	On
	#RewriteBase		/
	RewriteRule		^doc/(.*)$	doc/$1							[L]
	RewriteRule		^$					public/index.php		[L]
	RewriteRule		(.*)				public/$1						[L]
</IfModule>