Options +MultiViews
<IfModule mod_rewrite.c>
	RewriteEngine	On
	#RewriteBase		/public/
	RewriteCond		%{REQUEST_FILENAME}	!-d
	RewriteCond		%{REQUEST_FILENAME}	!-f
	RewriteRule		^(.*)$							index.php?url=$1		[PT,L]
	RewriteRule		^$									index.php						[PT,L]
</IfModule>